.imagen_contenedor
{
	display: flex;
	align-items: center;
}

img 
{
	margin-left: 5px;

}

.columnas
{
	display: flex;
}

.columna
{
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
}

.text-ceter
{
	
}